{{>header}}

<div class="about-section">
  <h1>O nama</h1>
  <div class="posta">
<h2>Posaljite nam poruku</h2>
<form class="email">
  <input type="text" class="email-input" placeholder="Name...">
<input type="email" class="email-input" placeholder="Email...">
<input type="text" class="email-input" placeholder="Subject...">
<textarea class="textarea-email"></textarea> 
</form>
</div>
  <p>Ukoliko imate neku zalbu, neki predlog ili ste zainteresovani za saradnju mozete se obratiti jednom od glavnih clanova ciji se podaci nalaze u nastavku.</p>
</div>

<h2 style="text-align:center">Glavni u firmi</h2>
  <div class="people-div">
      <img src="images/MMM_4545.jpg" alt="Polovina" width="200px" height="auto">
        <h2>Lazar Polovina</h2>
        <p class="title">Boss</p>
        <p>Lazar, vlasnik firme, pokrenuo je ovaj posao pre nekoliko godina i od prvog dana sve ide uzlaznom putanjom bez ikakvih problema.</p>
        <p>email: lazar.polovina@jjzmaj.edu.rs</p>
        <p>phone: +381644033298</p>
        <p><button class="button">Contact</button></p>
      </div>
    <div class="people-div">
      <img src="images/MMM_4514.jpg" alt="Aleksa" width='200px' height="auto">
        <h2>Aleksa Kraguljac</h2>
        <p class="title">Manager</p>
        <p>Aleksa je pravi ljubitelj automobila, voli i razume se u svoj posao i uživa u njemu. Takođe Aleksa je kolekcionar BMW modela, trenutno ih ima 9.</p>
        <p>email: draleksakraguljac@gmail.com</p>
        <p>phone: +381643361267</p>
        <p><button class="button">Contact</button></p>
      </div>
 <div class="people-div">
      <img src="images/MMM_4539.jpg" alt="Oluski" width="200px" height="auto">
            <h2>Lazar Oluški</h2>
        <p class="title">Director</p>
        <p>Lazar je veoma smiren i opušten, kod njega se sve odvija lagano i bez ikakvih problema. Doprineo je biznisu firme.</p>
        <p>email: oluski.lazar@jjzmaj.edu.rs</p>
        <p>phone: +381628006701</p>
        <p><button class="button">Contact</button></p>
      </div>
  
<footer>
  <div class="footer-section">
  <div class="footer-div">
<div class="footer-header"><h6>Car Rental<h6></div>
<p>Kompanija osnovana u Novom Sadu</p>
  </div>
  <div class="footer-div" id="links">
  <div class="footer-header"><h6>Posetite nas</h6></div>
      <ul class="footer-links">
<li class="footer-link"><i  class="fab fa-facebook-f"></i></li>
<li class="footer-link"><i class="fab fa-instagram"></i></li>
<li class="footer-link"><i class="fab fa-linkedin-in"></i></li>
  </ul>    
  </div>
</div>
  <div id="map-div"class="footer-section"><div class="footer-header"><h6>Lokacije</h6></div>
  <iframe src="https://www.google.com/maps/d/embed?mid=1Vlcd0Utav-XE1WDTN5oWMht2bvpXUFX8" class="map"></iframe>
  </div>
</footer>
